[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-bootstrap = "*"
flask-ext = "*"
flask-script = "*"
flask-moment = "*"
flask-wtf = "*"

[requires]
python_version = "3.6"
